<!DOCTYPE html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'DataAnalyse/style.css' %}" />

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        Main View.
    </title>
</head>
<body>

<!-- Give a list for specifying the event. -->
<form action="." method="get">
    <p>
        {{ event_form.as_p }}
    </p>
    <input type="submit" value="Search" name="submit">
    <input type="submit" value="Draw" name="draw">
</form>

{% if event %}
    <h1> Event: {{ event }} </h1>
{% else %}
    <h1> Please choose event. </h1>
{% endif %}



<!-- Show the latest 5 item in database. -->
{% if latest_twits_list %}
    <ul>
    {% for twit in latest_twits_list %}
        <li><a href="{% url 'detail' twit.id %}">{{ twit.text_content }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p> No data is available. </p>
{% endif %}
<p></p>

</body>
</html>